/* xs start */

@media (min-width:0px) and (max-width:575px){

    .main_text {
        font-size: 28px;
    }
}

/* xs end */


/* sm start */

@media (min-width:576px) and (max-width:767.98px){
    .main_text {
        font-size: 28px;
    }
}

/* sm end */


/* md start */

@media (min-width:768px) and (max-width:991px){
    .main_text {
        font-size: 28px;
    }
}

/* md end */


/* lg start */

@media (min-width:992px) and (max-width:1199px){
    
    .main_text {
        position: absolute;
        font-size: 60px;
        color: white;
        font-family: "Rye", serif;
    }
}

/* lg end */


/* xl start */

@media (min-width:1200px) and (max-width:1399px){
    .main_text {
        font-size: 60px;
    }
}

/* xl end */


/* xxl start */

@media (min-width:1400px) {
    .main_text {
        font-size: 60px;
    }
}

/* xxl end */